body {
    background-color: #e5e5e5;
}

.button {
    border: none;
    background-color: #fefefe;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
    color: black;
}